h2 {
    text-align: center;
}

.container {
    border: 2px solid black;
    padding: 12px 0px 0px 8px;
    width: 202px;
    margin: 50px 800px 200px 620px;
}


input {
    text-align: right;
    width: 185px;
    height: 25px;
    border: 3px solid cadetblue;
    margin-bottom: 10px;

}

.btn {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 7px;
    margin-bottom: 10px;

}